//Variables

//colores
$color-menu:orange;
$color-link-visitado:gold;
$color-sobre-boton:rgb(239, 181, 9);
$color-sobre-boton-sombra:black;
$color-bg-pie-de-pagina:black;
$color-fuente-pie-de-pagina:gold;
$color-bg-main:gold;
$color-fuente-nosotros:#FFF;
$color-fuente-titulo-quienes-somos:#FFF;
$color-fuente-detalle-quienes-somos:black;